.nav_wrapper {
    width: 100%;
    height: 60px;

    background-color: #303030;
    color: #fff;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 20px;

    width: min(80%, 1000px);
    height: 100%;

    margin: 0px auto;

    list-style: none;
}

.nav_container > li:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}
